body {
    color: white;
    background-color: rgb(18, 16, 22);
    font-family: Ubuntu;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    background-color: rgb(34, 31, 40);
    margin: 20px;
    border-radius: 30px;
    padding: 15px;
}

hr {
    color: white;
}

nav {
    display: flex;
    margin: 10px;
    justify-content: space-between;
}

.pages {
    display: flex;
}

nav a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
    background-color: rgb(48, 44, 56);
    padding: 10px;
    margin-right: 5px;
    transition: 0.1s;
}

nav a:hover {
    background-color: rgb(87, 82, 98);
}

nav a:active {
    transform: scale(0.9);
}

nav .newTicket {
    background-color: rgb(49, 184, 45);
    margin-right: 0;
}

nav .newTicket:hover {
    background-color: rgb(83, 226, 78);
}

.ticketDetail {
    display: flex;
    flex-direction: column;
}

.ticketDetail hr {
    width: 100%;
}

.ticketDetail br {
    margin: 10px;
}

.ticketDetail p {
    margin: 0;
    margin-top: 3px;
    margin-bottom: 3px;
}

.editButton {
    width: min-content;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
    background-color: rgb(49, 184, 45);
    padding: 10px;
    transition: 0.1s;
}

.editButton:hover {
    background-color: rgb(83, 226, 78);
}

.editButton:active {
    transform: scale(0.9);
}

.deleteButton {
    width: min-content;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
    border: none;
    background-color: rgb(215, 41, 41);
    padding: 10px;
    transition: 0.1s;
    margin-left: 10px;
}

.deleteButton:hover {
    background-color: rgb(233, 84, 84);
    cursor: pointer;
}

.deleteButton:active {
    transform: scale(0.9);
}

.ticket {
    margin: 10px;
    background-color: rgb(52, 48, 59);
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    width: 300px;
    min-height: 200px;
    transition: 0.1s;
}

.ticket:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.ticket:active {
    transform: scale(0.96);
}

.ticket h1 {
    margin: 0;
}

.ticket p {
    margin: 0;
}

.ticketList {
    display: flex;
    flex-wrap: wrap;
}

.ticketEdit {
    display: flex;
    flex-direction: column;
    min-width: 0;
}

.ticketEdit input {
    padding: 5px;
    margin: 10px;
    color: white;
    background-color: rgb(52, 48, 59);
    border: rgb(18, 16, 22) 4px solid;
    border-radius: 15px;
    width: 80%;
    max-width: 500px;
}

.ticketEdit textarea {
    padding: 5px;
    margin: 10px;
    color: white;
    background-color: rgb(52, 48, 59);
    border: rgb(18, 16, 22) 4px solid;
    border-radius: 15px 15px 0 15px;
    width: 80% !important;
    max-width: 500px;
    min-width: 0;
    height: 50px !important;
    resize: vertical;
}

.ticketEdit p {
    margin: 0;
    margin-left: 10px;
}

.ticketEdit br {
    margin: 10px;
}

.ticketEdit select {
    padding: 5px;
    margin: 10px;
    color: white;
    background-color: rgb(52, 48, 59);
    border: rgb(18, 16, 22) 4px solid;
    border-radius: 15px;
    width: 80%;
    max-width: 518px;
}

.ticketEdit select:hover {
    cursor: pointer;
}

.ticketEdit button {
    margin: 10px;
    width: min-content;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
    border: none;
    background-color: rgb(49, 184, 45);
    padding: 10px;
    transition: 0.1s;
}

.ticketEdit button:hover {
    background-color: rgb(83, 226, 78);
    cursor: pointer;
}

.ticketEdit button:active {
    transform: scale(0.9);
}